@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="getParamsTE" content="width=device-width" />
    <title>Generate Top Employees Report</title>
</head>
<body>
    <form method="get" action="Welcome\Index">
        <table>
            <tr>
                <td>Enter Department Code</td>
                <td><input type="number" id="fname_id" name="deptNum" /></td>
            </tr>
            <tr>
                <td>Enter Project Code</td>
                <td><input type="number" id="lname_id" name="projNum" /></td>
            </tr>
            <tr>
                <td>Enter Minimum Hours Worked</td>
                <td><input type="number" id="lname_id" name="HoursWorked" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>