@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h2 style="text-align:center">Project Management Systems</h2>
    <p style="text-align:center">COSC 3380</p>
    <p style="text-align:center">Team 18</p>
</div>