@{
    ViewBag.Title = "About";
}

<div>
    <h2 style="text-align:center">Project Management Systems</h2>
    <p style="text-align:center">COSC 3380</p>
    <p style="text-align:center">Team 18: Abishek, Imaan, Jonathan, Nhi, Peter, Wei</p>
</div>