@{

}

<div class="jumbotron">
    <h1 style="text-align:center">COSC 3380 Team 18</h1>
    <p class="lead" style="text-align:center">Project Management Systems</p>
    @if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        <p style="text-align:center"><a href="https://team18app.azurewebsites.net/Account/Signup" class="btn btn-primary btn-lg">Signup &raquo;</a></p> }
    else
    {
        <p style="text-align:center">Welcome, @User.Identity.Name!</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>
            View all the departments in the company!
        </p>
        <p><a class="btn btn-default" href="/Departments">Departments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>See the ongoing projects as of now</p>
        <p><a class="btn btn-default" href="/Projects">Projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>See what tasks are ongoing</p>
        <p><a class="btn btn-default" href="/Tasks">Tasks &raquo;</a></p>
    </div>
</div>