@{
    ViewBag.Title = "Home Page";
    bool isAdmin = false;
    bool isDhead = false;
    bool isEmployee = false;
    if (User.Identity.Name.Contains("AdminUser"))
    {
        isAdmin = true;
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("DepartmentHead"))
    {
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("Employee"))
    {
        isEmployee = true;
    }

}

<div class="jumbotron">
    <h1 style="text-align:center">COSC 3380 Team 18</h1>
    <p class="lead" style="text-align:center">Project Management Systems</p>
    @if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
    <p style="text-align:center"><a href="https://team18app.azurewebsites.net/Account/Signup" class="btn btn-primary btn-lg">Signup &raquo;</a></p> }
    else
            {
    <p style="text-align:center">Welcome, @User.Identity.Name!</p>
            }
</div>

@if (!string.IsNullOrWhiteSpace(User.Identity.Name))
    {
<h2>Useful Pages</h2>
<div class="row">
    @if (!isEmployee) {
    <div class="col-md-4">
        <h2>Submit a Project</h2>
        <p>
            If you are a client, click here to submit a project!
        </p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/projects">Placeholder &raquo;</a></p>
    </div>
    }
    @if (isEmployee) {
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>View active projects!</p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/projects">Projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>View task information for each project</p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/tasks">Tasks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Task Report</h2>
        <p>View tasks for a specific project</p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/getTaskInfo/getParamsTI">Tasks &raquo;</a></p>
    </div>
    }
</div>
if (isDhead) {
<div class="row">
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            View employee information
        </p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/employees">Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>View all departments</p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/departments">Departments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>View client information</p>
        <p><a class="btn btn-default" href="https://team18app.azurewebsites.net/clients">Clients &raquo;</a></p>
    </div>
</div>
    }
}